#body1{
	background-color: #535353 ;
}
.center {
	margin: auto;
  width: 60%;
}
h1{
	color:#E5AC8B;
}
.det{
	color : #E5AC8B:
}
.table{
	width:700px;
	margin:auto;
}
.the{
	background-color:#E5AC8B;
}