.navbar-light, .bg-light {
    background-color: #2B2B2B !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-nav > li {
    padding-left: 35px;
    padding-right: 35px;
}
.navbar-nav > li > a {
    color: #595959 !important;
    transition: transform .35s;
}
.navbar-nav > li:hover{
    background-color: rgba(0, 0, 0, 0);
}
.navbar-nav > li > a:hover,.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover {
    color: #C1A583 !important;
    transform: scale(1.05);

}
#logo > img{
    height: 3.2em;
    display: block;
}
#body{
    background-image: url("../image/bg.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif ;
    letter-spacing: 2.5px;
}
.block > p{
    opacity: 0;
    height: 35em;
}
.jumbotron{
    background-color: #2B2B2B;
    background-size: 100%;
    color: azure;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #c0a683;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
#s-b{
    border-color: #535353;
    background-color: #535353;
    color: #c0a683!important;
}
#title{
    font-size: large;
    color: #C5B095;
}
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* footer left*/
.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}
.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .icons {
    margin-top: 25px;
}
.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* footer center*/
.footer .footer-center {
    width: 30%;
}
.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
}
/* footer right*/
.footer .footer-right {
    width: 35%;
}
.footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}
.footer h2 span {
    color: #0099ff;
}
.footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer .menu a:hover {
    color: #0099ff;
}
.footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer .footer-center i {
        margin-left: 0;
    }
}
.footer-logo{
    width: 50%;
}
.backg{
  background-image: url("../image/ba.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 background-size: cover;
    background-attachment: fixed;

}
#formh1
{

  font-family: Georgia, serif;

  text-align: center;
  color:#E5AC8B;

  text-shadow: 2px 2px #424949 ;

}

  #adv{
  background: rgb(221,176,150);

  color: black;
  padding-left: 100px;
  font-size: 40px;
}
.formm{
    position:relative;
    background: rgba(43, 43, 43, 0.85);
    padding: 20px 20px;
    color: white;
    margin-top: 30px;
}
.fa-facebook,.fa-twitter,.fa-instagram {
    color: #2B2B2B !important;
    transition: transform .35s;
}
.search-sec{
    padding-top: 1%;
    padding-bottom: 8%;
}
.search-ti{
    padding-top: 3%;
}
.bg-projects{
    position: relative;
    background: url("../image/ax.jpg") 50% 0 no-repeat;
    background-size: cover;
}
.owl-wrapper,.owl-wrapper-outer{
    flex-wrap: nowrap;
}
.project{
    padding: 0;
    overflow: hidden;
}

.project figure{
    position: relative;
}

.project figure img{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    -webkit-transition: all 8s linear;
    -o-transition: all 8s linear;
    transition: all 8s linear;
}

.project figure:after{
    content:'';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.project.project-light figure:after{
    opacity: 0.4;
}

.project figcaption{
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    margin: .5em 2em;
}

.project-title{
    position: relative;
    top:0;
    left:0;
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 1.56em;
    line-height: 1.45;
    letter-spacing: 0.07em;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.project-category{
    position: absolute;
    left: 0;
    bottom: 0;
    margin:0 0 -0.8em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.8em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.project-zoom{
    position: absolute;
    left: 50%;
    top:50%;
    width: 9em;
    height: 9em;
    margin:-4.5em;
    border-radius: 50%;
    background-color: rgba(197,164,126,0.84);
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    transform:scale(0.5);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.project-zoom:after{
    position: absolute;
    left: 50%;
    top:50%;
    width: 2.625em;
    height:2.625em;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project figure:hover:after{
    opacity: 0;
}

.project figure:hover img{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.project figure:hover .project-title{
    top:30px;
    opacity: 0;
}

.project figure:hover .project-category{
    opacity: 0;
    letter-spacing: 2em;
}

.project figure:hover .project-zoom{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.proj3:after{
    text-align: center;
    color: #2B2B2B;
}
.carousel-inner{
    max-height: 40em;
    min-width: 20em;
}